.pages {
  display: flex;
  justify-content: center;

  padding: 25px;

  user-select: none;
}

.pages__navigator {
  padding: 0 30px;
  cursor: pointer;
}
.page {
  padding: 0 12px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}
