.setting {
  padding: 50px;
}

hr {
  margin: 30px 0;
}

.setting_avatar {
  display: flex;
}

.setting_avatar_file {
  margin-left: 50px;
}

.setting_avatar_succes {
  color: red;
  margin-top: 4px;
  position: absolute;
  left: 50%;
}
