.info {
  grid-area: info;
  padding: 5px 15px;
}

.info_name {
  font-weight: bold;
}

.info_status {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(220, 213, 213);
}

.info_lookingForAJobInfo {
  display: flex;
}

.info_lookingForAJob_setting {
  float: right;
  cursor: pointer;
}

.info_lookingForAJob_title {
  margin-top: 10px;
}
