.post {
  padding: 15px;
  margin-bottom: 10px;
}

.post__avatar {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.post__delete {
  cursor: pointer;
}

.post__text {
  white-space: pre;
}
