.setting_info_edit {
  margin-left: 70px;
}

.setting_field_name {
  margin-left: 5%;
}

.setting_field_scills {
  resize: none;
  margin-left: 5%;

}

.setting_field_aboutMe {
  resize: none;
  margin-left: 5%;

}

.setting_field_job {
  margin-left: 5%;

}
