.setting_info_edit {
  margin: 0 auto;
  text-align: left;
}

.setting_field_name {
  width: 164px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid rgb(72, 67, 167);
  border-radius: 4px;
}

.setting_field_scills {
  resize: none;
  margin-top: 10px;
  border: 1px solid rgb(72, 67, 167);
  border-radius: 4px;
}

.setting_field_aboutMe {
  resize: none;
  margin-top: 5px;
  border: 1px solid rgb(72, 67, 167);
  border-radius: 4px;
}

.setting_btn {
  margin: 0 auto;
  margin-top: 40px;
  display: flex;

  border-radius: 8px;
  padding: 5px 7px;

  background: rgb(72, 67, 167);
  border-color: white;
  color: white;
  outline: none;

  font-weight: bold;
  cursor: pointer;
}
