.setting_info_edit {
  margin-left: 70px;
  width: 50%;
  text-align: left;
}

.setting_field_name {
  width: 168px;
  margin-top: 10px;
}

.setting_field_scills {
  resize: none;
  margin-top: 10px;
}

.setting_field_aboutMe {
  resize: none;
  margin-top: 5px;
}

td {
  width: 10px;
}

.setting_btn {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
