.login_wrapper_form {
  width: 300px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.login_wrapper_form_lbl {
  font-weight: bolder;
  font-size: 10px;
  margin-left: 10px;
}

.login_wrapper_form_input {
  padding: 10px;
  margin: 0 10px;
}

.login_wrapper_form_label {
  font-size: 10px;
}

.login_wrapper_form_btn {
  margin: 10px;
  font-weight: bolder;
}
