.profile {
  grid-area: 'profile';
  text-align: center;
}

.profile_name {
  text-overflow: ellipsis;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  text-decoration: none;
  font-size: 10px;
}
