.profile {
  grid-area: 'profile';
  text-align: center;
}

.profile_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 6ch;
}

.link {
  text-decoration: none;
  /* font-size: 16px; */
}
