.friendsProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 0 auto;

  border-bottom: 1px solid rgb(220, 213, 213);
}

.friendsProfile__infoProfile_name {
  font-weight: bold;
}

.friendsProfile__infoProfile_info {
  font-size: 10px;
}

.friendsProfile__addFriendBtn {
  margin-left: 15px;
  border-radius: 8px;
  padding: 7px 10px;

  background: rgb(72, 67, 167);
  border-color: white;
  color: white;
  outline: none;

  font-size: 15px;
  font-weight: 600;
}
