.wall__form {
  padding: 15px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;
}

.wall__form_button {
  border-radius: 8px;
  padding: 5px 7px;

  background: rgb(72, 67, 167);
  border-color: white;
  color: white;
  outline: none;

  font-weight: 600;
  cursor: pointer;
}
