body {
  background-color: rgb(243, 240, 240);
}

.app-container {
  width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-areas: 'header header' 'navBar main';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1.7fr 8.3fr;
  grid-gap: 15px;
}
