.addMessageForm {
  grid-column-start: 2;
  grid-column-end: 4;
}

.message__form {
  padding: 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.message__form_button {
  margin-left: 15px;
  border-radius: 8px;
  padding: 7px 10px;

  background: rgb(72, 67, 167);
  border-color: white;
  color: white;
  outline: none;

  font-size: 15px;
  font-weight: 600;
}
